<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, ut error
    voluptates at autem rem neque libero minima fugiat unde?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Phu Nguyen</h3>
        <p class="quote__organization">FPT Software</p>
      </div>
    </div>
  </footer>
</blockquote>
